<div class="sticky top-0 z-50">
    <app-navbar></app-navbar>
</div>
<div class="pt-8 pb-20 px-4 md:px-8 max-w-7xl mx-auto min-h-screen">
    <div class="mb-8 space-y-4">
        <h1 class="text-3xl font-bold text-foreground">Find Your Dream Home</h1>

        <div class="flex flex-col md:flex-row gap-4">
            <div class="relative flex-1">
                <div class="absolute left-4 top-1/2 -translate-y-1/2 text-muted-foreground pointer-events-none">
                    <lucide-angular [img]="Search" class="w-5 h-5"></lucide-angular>
                </div>
                <input type="text" [(ngModel)]="searchQuery" placeholder="Search by location, title..."
                    class="w-full pl-12 pr-4 py-3 bg-card border border-border rounded-xl focus:outline-none focus:ring-2 focus:ring-primary shadow-sm">
            </div>

            <button
                class="flex items-center gap-2 px-6 py-3 bg-secondary text-foreground rounded-xl font-medium hover:bg-secondary/80 transition-colors">
                <lucide-angular [img]="SlidersHorizontal" class="w-5 h-5"></lucide-angular>
                Filters
            </button>
        </div>

        <div class=" gap-2 overflow-x-auto pb-2 hide-scrollbar space-x-2 space-y-3">
            <button *ngFor="let filter of ['All', 'House', 'Apartment', 'Land', 'Commercial']"
                (click)="activeFilter = filter.toLowerCase()" [class.bg-primary]="activeFilter === filter.toLowerCase()"
                [class.text-white]="activeFilter === filter.toLowerCase()"
                [class.bg-secondary]="activeFilter !== filter.toLowerCase()"
                [class.text-foreground]="activeFilter !== filter.toLowerCase()"
                class="px-4 py-2 rounded-sm whitespace-nowrap text-sm font-medium transition-colors">
                {{ filter }}
            </button>
        </div>
    </div>

    <div class="flex items-center gap-1 mb-7 text-muted-foreground">
        <span>Found</span>
        <span class="font-bold text-primary">{{ calculateProperties() }}</span>
        <span>Properties</span>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
       <app-property-card *ngFor="let prop of properties" [id]=  'prop.id.toString()' [image]="prop.image"
            [title]="prop.title" [price]="prop.price" [area]="prop.location"  [description]="prop.details.description"
             [status]='prop.status' [type]="prop.type" [size]="prop.size" [bedrooms]="prop.details.bedrooms" [bathrooms]="prop.details.bathrooms"
            ></app-property-card>
    </div>

    <div *ngIf="filteredProperties.length === 0" class="text-center py-20">
        <p class="text-muted-foreground text-lg">No properties found matching your criteria.</p>
    </div>

    <div class="text-center mt-10">
            <button
                class="inline-flex items-center gap-2 px-8 py-3 border-2 border-primary text-primary hover:bg-primary hover:text-white rounded-xl font-medium transition-all duration-300 group">
                View All Properties
                <lucide-angular [img]="ArrowRight"
                    class="w-4 h-4 group-hover:translate-x-1 transition-transform"></lucide-angular>
            </button>
        </div>
</div>
<div>
    <app-footer></app-footer>
</div>