<div class="text-center mb-12">
    <h2 class="text-3xl md:text-4xl font-semibold text-gray-900 mb-4">Property Types</h2>
    <div class="justify-center mt-10 lg:space-x-3 space-x-3 space-y-3 overflow-x-auto pb-2 hide-scrollbar">
        <button *ngFor="let filter of ['All', 'House', 'Apartment', 'Land', 'Commercial','Luxury','Semi-luxury','Villas','Bording Houses']"
            (click)="setActiveFilter(filter.toLowerCase())" [class.bg-primary]="activeFilter === filter.toLowerCase()"
            [class.text-white]="activeFilter === filter.toLowerCase()"
            [class.text-foreground]="activeFilter !== filter.toLowerCase()"
            class="px-4 py-2 rounded-sm whitespace-nowrap text-sm font-medium">
            {{ filter }}
        </button>
    </div>
</div>